.title {
    background-color: rgb(255, 70, 70) ;
    color: white;
}

#shadowing
{
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgb(56, 56, 56);
  z-index:10;
  opacity:0.5;
  filter: alpha(opacity=50);
}

/*Override*/
.row {
    max-width: 100% !important;
}

.success {
    background-color: rgb(24, 165, 66) !important;
    color: white !important;
}

tbody :hover {
    background-color : rgba(73, 133, 163, 0.5) !important;
    color : white !important;
}